<ion-header>
  <ion-navbar>
    <ion-title>资讯</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="popover($event)">
        <ion-icon name="md-more" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides #slic class="mlm-slide" *ngIf="showslide" [autoplay]="autoP" loop (ionSlideDidChange)="slideChanged()" speed="1000">
    <ion-slide  *ngFor="let slie of slides">
      <img [src]="slie.adimg" />
    </ion-slide>    
  </ion-slides>
 <img src="assets/images/older1.jpg"/>
 <img src="assets/images/older2.jpg"/>
 <img src="assets/images/older2.jpg"/>
 <img src="assets/images/older2.jpg"/>
 <img src="assets/images/older2.jpg"/>
 <img src="assets/images/older2.jpg"/>
 <img src="assets/images/older2.jpg"/>
 <img src="assets/images/older2.jpg"/>
 
</ion-content>
